gradio>=5.38.2
python-dotenv>=1.0.1
boto3>=1.35.84
botocore>=1.35.84
asyncio-throttle>=1.0.2
SpeechRecognition>=3.12.0
pyaudio>=0.2.14
amazon-transcribe>=0.6.0
azure-cognitiveservices-speech>=1.45.0
supabase>=2.0.0
psutil>=7.0.0
setuptools>=78.1.1
